.sidebar {
    background-color: #282A34;
    color: #FAF9F9;
    width: 30vw;
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: auto;   
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.sidebar__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    font-family: 'Oleo Script', cursive;
    
}

.sidebar__title > .finsta__icon {
    width: 3rem;
    font-size: 2rem;
    color: #A117F2;
}

.sidebar__profile {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    margin-top:1.5rem;
    box-shadow: 0px 5px 17px -7px rgba(0, 0, 0, 0.75);
    border-radius: 15px;
    opacity: .85;

}

.sidebar__navbar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
}


.navbar__option {
    padding: 5px 0;
    text-align: center;
    color: gray;
}
.navbar__option:hover > .MuiSvgIcon-root {
    color: #A117F2; 
}
.navbar__option--active {
    color: #A117F2; 
    padding: 5px 0;
    text-align: center;

}

.navbar__link {
    color: gray;
}

.navbar__link:hover {
    color: #A117F2;
}

form > .image__input {
    display:flex;
    align-items: center;
    margin: 1.5% auto;
    width: 85%; 
    padding: 7px;
    background-color: #3C3F51;
    border: 2px solid #30313891;
    border-radius: 999px;
}

form > .image__input > input {
    border: none;
    background-color: transparent;
    outline-width: 0;  
}

.sidebar__btn{
    display: flex;
    justify-content: flex-end;
    margin-right: 1.5rem;
}

.sidebar__btn > button{
    width: 55px;
    height: 45px;
    background-color: #A117F2;
    color: #282A34;
    font-weight: 800;
    font-size: 2rem;
    border-radius: 15px;
    margin-bottom: 3rem;
}

.sidebar__btn > button:hover {
    background-color: rgba(29, 32, 46, 0.651);
    color: #A117F2;
}