.messengerField {
    text-align: center;
    background-color: #282A34;
  }

.messengerForm {
    padding: 20px;
    position: fixed;
    bottom: 0;
    z-index: 1;
    background-color: #303344;
    width: 90%;
    margin: 20px;
  }
  
.formControl {
    display: flex !important;
    flex-direction: row !important;
  }
  
.messengerInput {
    flex: 1;
    color: #FFF !important;
  }
  
.iconButton {
    flex: 0;
  }